/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

.statusbar-overlay {
    background: #000000;
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
}
html{
  touch-action: manipulation; 
}
.demo-card-header-pic .card-header {
  height: 30vw;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.demo-card-header-pic .card-content-padding .date{
  color: #8e8e93;
  padding: 15px 10px;
}
div[class*="col"] {
  text-align: center;
  color: #000;
  padding: 5px;
  font-size: 16px;
}
div[class*="col"] img{
  width:100%;
}
.iconpage{
  margin-top: 10px;
}
.row-icon{
  padding: 15px;
  margin: 10px;
}

.data-table {
  overflow-x: auto;
}
.data-table table {
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  text-align: left;
}
.data-table thead {
  font-size: 18px;
}
.data-table thead th,
.data-table thead td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 20px;
  text-align: center;
  padding: 5px;
}

.data-table tbody th,
.data-table tbody td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.data-table thead i.icon,
.data-table thead i.f7-icons,
.data-table thead i.material-icons {
  vertical-align: top;
}
.data-table th.numeric-cell,
.data-table td.numeric-cell {
  text-align: center;
}
.data-table.card .card-header,
.card .data-table .card-header {
  height: 128px;
}
.data-table.card .card-content,
.card .data-table .card-content {
  overflow-x: auto;
}
.data-table .data-table-header,
.data-table .data-table-header-selected {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
@media (max-width: 480px) and (orientation: portrait) {
  .data-table.data-table-collapsible thead {
    display: none;
  }
  .data-table.data-table-collapsible tbody,
  .data-table.data-table-collapsible tr,
  .data-table.data-table-collapsible td {
    display: block;
  }
  .data-table.data-table-collapsible tr {
    position: relative;
  }
  .data-table.data-table-collapsible tr:hover {
    background-color: inherit;
  }
  .data-table.data-table-collapsible td {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left;
  }
  .data-table.data-table-collapsible td:before {
    display: none !important;
  }
  .data-table.data-table-collapsible td:not(.checkbox-cell):before {
    width: 40%;
    display: block !important;
    content: attr(data-collapsible-title);
    position: relative;
    height: auto;
    background: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    font-size: 12px;
    margin-right: 16px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .data-table.data-table-collapsible td.checkbox-cell {
    position: absolute;
    top: 0;
    left: 0;
  }
  .data-table.data-table-collapsible td.checkbox-cell + td {
    padding-left: 16px;
  }
  .data-table.data-table-collapsible td.checkbox-cell ~ td {
    margin-left: 32px;
  }
}
.data-table .tablet-only,
.data-table .tablet-landscape-only {
  display: none;
}
@media (min-width: 768px) {
  .data-table .tablet-only {
    display: table-cell;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  .data-table .tablet-landscape-only {
    display: table-cell;
  }
}
.theme-dark .data-table .sortable-cell:not(.numeric-cell):after,
.theme-dark .data-table .sortable-cell.numeric-cell:before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D'%23fff'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%20width%3D'24'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'M0%200h24v24H0V0z'%20fill%3D'none'%2F%3E%3Cpath%20d%3D'M20%2012l-1.41-1.41L13%2016.17V4h-2v12.17l-5.58-5.59L4%2012l8%208%208-8z'%20fill%3D'%23fff'%2F%3E%3C%2Fsvg%3E");
}
.ios .data-table thead th,
.ios .data-table thead td {
  font-weight: 600;
}
.ios .data-table thead th:not(.sortable-cell-active),
.ios .data-table thead td:not(.sortable-cell-active) {
  color: #8e8e93;
}
.ios .data-table thead i.icon,
.ios .data-table thead i.f7-icons {
  font-size: 18px;
  width: 18px;
  height: 18px;
}
.ios .data-table tbody tr.data-table-row-selected {
  background: #f7f7f8;
}
.ios .data-table th,
.ios .data-table td {
  padding-left: 15px;
  padding-right: 15px;
  height: 44px;
}
.ios .data-table th.checkbox-cell,
.ios .data-table td.checkbox-cell {
  width: 22px;
  padding-right: 7px;
}
.ios .data-table th.checkbox-cell + td,
.ios .data-table td.checkbox-cell + td,
.ios .data-table th.checkbox-cell + th,
.ios .data-table td.checkbox-cell + th {
  padding-left: 8px;
}
.ios .data-table th.actions-cell a.link + a.link,
.ios .data-table td.actions-cell a.link + a.link {
  margin-left: 15px;
}
.ios .data-table th.actions-cell a.icon-only,
.ios .data-table td.actions-cell a.icon-only {
  width: 18px;
  height: 18px;
  line-height: 18px;
}
.ios .sortable-cell:not(.numeric-cell):after {
  margin-left: 5px;
}
.ios .sortable-cell.numeric-cell:before {
  margin-right: 5px;
}
.ios .data-table.card .card-header,
.ios .card .data-table .card-header,
.ios .data-table.card .card-footer,
.ios .card .data-table .card-footer {
  padding-left: 15px;
  padding-right: 8px;
}
.ios .data-table-title {
  font-size: 17px;
  font-weight: 600;
}
.ios .data-table-links a.link + a.link,
.ios .data-table-actions a.link + a.link {
  margin-left: 15px;
}
.ios .data-table-actions a.link.icon-only {
  width: 44px;
  height: 44px;
}
.ios .data-table-actions i.icon,
.ios .data-table-actions i.f7-icons {
  font-size: 22px;
}
.ios .data-table .card-header > .data-table-header,
.ios .data-table .card-header > .data-table-header-selected {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
  padding-left: 15px;
  padding-right: 8px;
  margin-left: -15px;
  margin-right: -8px;
}
.ios .data-table-header-selected {
  background: rgba(0, 122, 255, 0.1);
}
.ios .data-table-title-selected {
  color: #007aff;
}
.ios .data-table tbody td:before {
  content: '';
  position: absolute;
  background-color: #c8c7cc;
  display: block;
  z-index: 15;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  height: 1px;
  width: 100%;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
.ios.device-pixel-ratio-2 .data-table tbody td:before {
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.ios.device-pixel-ratio-3 .data-table tbody td:before {
  -webkit-transform: scaleY(0.33);
  transform: scaleY(0.33);
}
.ios.device-desktop .data-table tbody tr:hover {
  background: #f7f7f8;
}
@media (max-width: 480px) and (orientation: portrait) {
  .ios .data-table.data-table-collapsible td:not(.checkbox-cell) {
    font-size: 17px;
    line-height: 17px;
  }
  .ios .data-table.data-table-collapsible td:not(.checkbox-cell):before {
    color: #8e8e93;
    font-weight: 600;
  }
  .ios .data-table-collapsible tr:before {
    content: '';
    position: absolute;
    background-color: #c8c7cc;
    display: block;
    z-index: 15;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    height: 1px;
    width: 100%;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  .ios.device-pixel-ratio-2 .data-table-collapsible tr:before {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
  .ios.device-pixel-ratio-3 .data-table-collapsible tr:before {
    -webkit-transform: scaleY(0.33);
    transform: scaleY(0.33);
  }
}
.ios .theme-dark .data-table tbody td:before,
.data-table.ios .theme-dark tbody td:before {
  background-color: #282829;
}
.ios .theme-dark .data-table.data-table-collapsible tr:before,
.data-table.ios .theme-dark.data-table-collapsible tr:before {
  background-color: #282829;
}
.ios .theme-dark .data-table tbody tr.data-table-row-selected,
.data-table.ios .theme-dark tbody tr.data-table-row-selected {
  background-color: #363636;
}
.ios.device-desktop .theme-dark .data-table tbody tr:hover,
.ios.device-desktop .theme-dark.data-table tbody tr:hover {
  background: #363636;
}
.ios .color-theme-red .data-table-header-selected,
.ios .data-table-header-selected.color-red {
  background: rgba(255, 59, 48, 0.1);
}
.ios .color-theme-red .data-table-title-selected,
.ios .color-red .data-table-title-selected {
  color: #ff3b30;
}
.ios .color-theme-green .data-table-header-selected,
.ios .data-table-header-selected.color-green {
  background: rgba(76, 217, 100, 0.1);
}
.ios .color-theme-green .data-table-title-selected,
.ios .color-green .data-table-title-selected {
  color: #4cd964;
}
.ios .color-theme-blue .data-table-header-selected,
.ios .data-table-header-selected.color-blue {
  background: rgba(0, 122, 255, 0.1);
}
.ios .color-theme-blue .data-table-title-selected,
.ios .color-blue .data-table-title-selected {
  color: #007aff;
}
.ios .color-theme-pink .data-table-header-selected,
.ios .data-table-header-selected.color-pink {
  background: rgba(255, 45, 85, 0.1);
}
.ios .color-theme-pink .data-table-title-selected,
.ios .color-pink .data-table-title-selected {
  color: #ff2d55;
}
.ios .color-theme-yellow .data-table-header-selected,
.ios .data-table-header-selected.color-yellow {
  background: rgba(255, 204, 0, 0.1);
}
.ios .color-theme-yellow .data-table-title-selected,
.ios .color-yellow .data-table-title-selected {
  color: #ffcc00;
}
.ios .color-theme-orange .data-table-header-selected,
.ios .data-table-header-selected.color-orange {
  background: rgba(255, 149, 0, 0.1);
}
.ios .color-theme-orange .data-table-title-selected,
.ios .color-orange .data-table-title-selected {
  color: #ff9500;
}
.ios .color-theme-gray .data-table-header-selected,
.ios .data-table-header-selected.color-gray {
  background: rgba(142, 142, 147, 0.1);
}
.ios .color-theme-gray .data-table-title-selected,
.ios .color-gray .data-table-title-selected {
  color: #8e8e93;
}
.ios .color-theme-white .data-table-header-selected,
.ios .data-table-header-selected.color-white {
  background: rgba(255, 255, 255, 0.1);
}
.ios .color-theme-white .data-table-title-selected,
.ios .color-white .data-table-title-selected {
  color: #ffffff;
}
.ios .color-theme-black .data-table-header-selected,
.ios .data-table-header-selected.color-black {
  background: rgba(0, 0, 0, 0.1);
}
.ios .color-theme-black .data-table-title-selected,
.ios .color-black .data-table-title-selected {
  color: #000000;
}
.md .data-table thead th,
.md .data-table thead td {
  font-weight: 500;
  height: 56px;
}
.md .data-table thead th:not(.sortable-cell-active),
.md .data-table thead td:not(.sortable-cell-active) {
  color: rgba(0, 0, 0, 0.54);
}
.md .data-table thead i.icon,
.md .data-table thead i.material-icons {
  font-size: 16px;
  width: 16px;
  height: 16px;
}
.md .data-table tbody {
  font-size: 13px;
}
.md .data-table tbody tr.data-table-row-selected {
  background: #f5f5f5;
}
.md .data-table tbody td {
  height: 48px;
}
.md .data-table th,
.md .data-table td {
  padding-left: 28px;
  padding-right: 28px;
}
.md .data-table th.label-cell,
.md .data-table td.label-cell {
  padding-left: 24px;
  padding-right: 24px;
}
.md .data-table th:first-child,
.md .data-table td:first-child {
  padding-left: 24px;
}
.md .data-table th:last-child,
.md .data-table td:last-child {
  padding-right: 24px;
}
.md .data-table th.checkbox-cell,
.md .data-table td.checkbox-cell {
  width: 18px;
  padding-left: 24px;
  padding-right: 12px;
}
.md .data-table th.checkbox-cell + td,
.md .data-table td.checkbox-cell + td,
.md .data-table th.checkbox-cell + th,
.md .data-table td.checkbox-cell + th {
  padding-left: 12px;
}
.md .data-table th.actions-cell a.link,
.md .data-table td.actions-cell a.link {
  color: rgba(0, 0, 0, 0.54);
}
.md .data-table th.actions-cell a.link + a.link,
.md .data-table td.actions-cell a.link + a.link {
  margin-left: 24px;
}
.md .data-table th.actions-cell a.icon-only,
.md .data-table td.actions-cell a.icon-only {
  width: 24px;
  height: 24px;
  line-height: 24px;
}
.md .sortable-cell:not(.numeric-cell):after {
  margin-left: 8px;
}
.md .sortable-cell.numeric-cell:before {
  margin-right: 8px;
}
.md .data-table.card .card-header,
.md .card .data-table .card-header,
.md .data-table.card .card-footer,
.md .card .data-table .card-footer {
  padding-left: 24px;
  padding-right: 14px;
}
.md .data-table.card .card-footer,
.md .card .data-table .card-footer {
  height: 56px;
}
.md .data-table-title {
  font-size: 20px;
}
.md .data-table-links a.link + a.link,
.md .data-table-actions a.link + a.link {
  margin-left: 24px;
}
.md .data-table-actions a.link {
  color: rgba(0, 0, 0, 0.54);
}
.md .data-table-actions a.link.icon-only {
  width: 24px;
  height: 24px;
  overflow: visible;
}
.md .data-table-actions a.link.icon-only.active-state {
  background: none;
}
.md .data-table .card-header > .data-table-header,
.md .data-table .card-header > .data-table-header-selected {
  padding-left: 24px;
  padding-right: 14px;
  margin-left: -24px;
  margin-right: -14px;
  padding-top: 4px;
  padding-bottom: 4px;
  height: 100%;
}
.md .data-table-header-selected {
  background: rgba(33, 150, 243, 0.1);
}
.md .data-table-title-selected {
  color: #2196f3;
}
.md .data-table tbody td:before {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.12);
  display: block;
  z-index: 15;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  height: 1px;
  width: 100%;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
.md.device-pixel-ratio-2 .data-table tbody td:before {
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.md.device-pixel-ratio-3 .data-table tbody td:before {
  -webkit-transform: scaleY(0.33);
  transform: scaleY(0.33);
}
.md.device-desktop .data-table tbody tr:hover {
  background: #f5f5f5;
}
@media (max-width: 480px) and (orientation: portrait) {
  .md .data-table.data-table-collapsible td {
    padding-left: 16px;
    padding-right: 16px;
  }
  .md .data-table.data-table-collapsible td:not(.checkbox-cell) {
    font-size: 16px;
  }
  .md .data-table.data-table-collapsible td:not(.checkbox-cell):before {
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
    line-height: 16px;
  }
  .md .data-table-collapsible tr:before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.12);
    display: block;
    z-index: 15;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    height: 1px;
    width: 100%;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  .md.device-pixel-ratio-2 .data-table-collapsible tr:before {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
  .md.device-pixel-ratio-3 .data-table-collapsible tr:before {
    -webkit-transform: scaleY(0.33);
    transform: scaleY(0.33);
  }
}
.md .theme-dark .data-table thead th:not(.sortable-cell-active),
.data-table.md .theme-dark thead th:not(.sortable-cell-active),
.md .theme-dark .data-table thead td:not(.sortable-cell-active),
.data-table.md .theme-dark thead td:not(.sortable-cell-active),
.md .theme-dark .data-table .data-table-actions a.link,
.data-table.md .theme-dark .data-table-actions a.link,
.md .theme-dark .data-table td.actions-cell a.link,
.data-table.md .theme-dark td.actions-cell a.link,
.md .theme-dark .data-table th.actions-cell a.link,
.data-table.md .theme-dark th.actions-cell a.link {
  color: rgba(255, 255, 255, 0.54);
}
.md .theme-dark .data-table .data-table-links a.link:before,
.data-table.md .theme-dark .data-table-links a.link:before {
  content: '';
  width: 152%;
  height: 152%;
  position: absolute;
  left: -26%;
  top: -26%;
  background-image: -webkit-radial-gradient(center, circle, rgba(255, 255, 255, 0.15) 66%, rgba(255, 255, 255, 0) 66%);
  background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.15) 66%, rgba(255, 255, 255, 0) 66%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  opacity: 0;
  pointer-events: none;
  -webkit-transition-duration: 600ms;
  transition-duration: 600ms;
}
.md .theme-dark .data-table .data-table-links a.link.active-state:before,
.data-table.md .theme-dark .data-table-links a.link.active-state:before {
  opacity: 1;
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
}
.md .theme-dark .data-table tbody td:before,
.data-table.md .theme-dark tbody td:before {
  background-color: rgba(255, 255, 255, 0.08);
}
.md .theme-dark .data-table.data-table-collapsible tr:before,
.data-table.md .theme-dark.data-table-collapsible tr:before {
  background-color: rgba(255, 255, 255, 0.08);
}
.md .theme-dark .data-table tbody tr.data-table-row-selected,
.data-table.md .theme-dark tbody tr.data-table-row-selected {
  background-color: rgba(255, 255, 255, 0.05);
}
.md.device-desktop .theme-dark .data-table tbody tr:hover,
.md.device-desktop .theme-dark.data-table tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.md .color-theme-red .data-table-header-selected,
.md .data-table-header-selected.color-red {
  background: rgba(244, 67, 54, 0.1);
}
.md .color-theme-red .data-table-title-selected,
.md .color-red .data-table-title-selected {
  color: #f44336;
}
.md .color-theme-green .data-table-header-selected,
.md .data-table-header-selected.color-green {
  background: rgba(76, 175, 80, 0.1);
}
.md .color-theme-green .data-table-title-selected,
.md .color-green .data-table-title-selected {
  color: #4caf50;
}
.md .color-theme-blue .data-table-header-selected,
.md .data-table-header-selected.color-blue {
  background: rgba(33, 150, 243, 0.1);
}
.md .color-theme-blue .data-table-title-selected,
.md .color-blue .data-table-title-selected {
  color: #2196f3;
}
.md .color-theme-pink .data-table-header-selected,
.md .data-table-header-selected.color-pink {
  background: rgba(233, 30, 99, 0.1);
}
.md .color-theme-pink .data-table-title-selected,
.md .color-pink .data-table-title-selected {
  color: #e91e63;
}
.md .color-theme-yellow .data-table-header-selected,
.md .data-table-header-selected.color-yellow {
  background: rgba(255, 235, 59, 0.1);
}
.md .color-theme-yellow .data-table-title-selected,
.md .color-yellow .data-table-title-selected {
  color: #ffeb3b;
}
.md .color-theme-orange .data-table-header-selected,
.md .data-table-header-selected.color-orange {
  background: rgba(255, 152, 0, 0.1);
}
.md .color-theme-orange .data-table-title-selected,
.md .color-orange .data-table-title-selected {
  color: #ff9800;
}
.md .color-theme-gray .data-table-header-selected,
.md .data-table-header-selected.color-gray {
  background: rgba(158, 158, 158, 0.1);
}
.md .color-theme-gray .data-table-title-selected,
.md .color-gray .data-table-title-selected {
  color: #9e9e9e;
}
.md .color-theme-white .data-table-header-selected,
.md .data-table-header-selected.color-white {
  background: rgba(255, 255, 255, 0.1);
}
.md .color-theme-white .data-table-title-selected,
.md .color-white .data-table-title-selected {
  color: #ffffff;
}
.md .color-theme-black .data-table-header-selected,
.md .data-table-header-selected.color-black {
  background: rgba(0, 0, 0, 0.1);
}
.md .color-theme-black .data-table-title-selected,
.md .color-black .data-table-title-selected {
  color: #000000;
}


.overlay {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:#fff;
    opacity:0.8;
    z-index:1001;
}
.overlay-message{
    position: fixed;
    top:45%;
    left:25%;
    width:50%;
    height:auto;
    background-color:#99ccff;
    opacity:1;
    z-index:1002;
    text-align: center;
    font-size: 24px;
}
.card-content {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#namaMahasiswa{
  font-size: 15px;
  margin-right: 30px;
}
#fotoMahasiswa{
  margin-left: 20px;
}

.md .data-table .sortable-cell .ripple-wave {
  z-index: 0;
}

#BigDreamList, #listPengumuman
{
  margin-top:20px;
}

#jawabBigDream{
  width:100%; 
  height:30vw; 
  font-size:20px;
}

.judul{
  background-color:#a3d8f5 ;
  font-color:black;
  font-size: 18px;
}

.contentPengumuman {
  overflow: hidden;
  height: 15vw;
}

#noticePengumuman{
  text-align: center;
  font-size: 20px;
  margin: 10px;
}

.caption{
  font-size: 12px;
}

.statusText{
  margin-left: 10px;
}

.floating-button{
  position: fixed;
}

.comment {
  color: #ff1a1a;
}